@import 'reset';

$site-grey: rgb(169, 166, 155);

$small-screen-breakpoint: 480px;
$large-screen-breakpoint: 960px;

@mixin if-media-is($media) {
    @if $media == phone {
        @media only screen and (max-width: $small-screen-breakpoint) { @content; }
    } @else if $media == tablet {
        @media only screen and (min-width: $small-screen-breakpoint + 1) and (max-width: $large-screen-breakpoint - 1) { @content; }
    } @else if $media == computer {
        @media only screen and (min-width: $large-screen-breakpoint) { @content; }
    }
}

body {
    margin: 36px auto;
    width: 95%;

    @include if-media-is(computer) { width: 960px; }

    code {
        background-color: lightgray;
        border-radius: 5px;
    }

    .content {

        i {
            font-style: italic;
        }

        .underline {
            text-decoration: underline;
        }

        margin: 0 auto 53px auto;
        font: normal 125% 'Fira Sans', sans-serif;

        %heading {
            font-weight: bold;
            margin-top: 1em;
            margin-bottom: 0.5em;
        }

        .page-title, .post-title {
            @extend %heading;
            font: normal 100% 'Roboto Mono', monospace;
        }

        .page-title {
            font-size: 1.75em;
        }

        .post-title {
            font-size: 1.5em;
        }

        .post-filter-subtext {
            font-size: 0.85em;
        }

        h1 {
            @extend %heading;
            font-size: 1.75em; /* 150% size*/
        }

        h2 {
            @extend %heading;
            font-size: 1.5em;
            // text-decoration: underline;
        }

        h3 {
            @extend %heading;
            font-size: 1.4em;

            .post-summary-time {
                font-weight: normal;
                font-size: 0.6em;
            }
        }

        h4 {
            @extend %heading;
            font-size: 1.3em;
            font-weight: bold;
            margin-top: 1em;
            margin-bottom: 1em;
        }

        h5 {
            @extend %heading;
            font-size: 1.2em;
        }

        .post-body hr {
            margin-top: 1.5em;
            margin-bottom: 1.5em;
            width: 75%;
        }

        ul {
            list-style-type: circle;
            margin-left: 1.5em;

            dl {
                width: 100%;
                // overflow: hidden;
                padding: 0;
                margin: 0;

                dt {
                    // float: left;
                    // width: 50%;
                }

                dt::after {
                    content: ": ";
                }

                dd {
                    // width: 50%;
                    // float: left;
                    margin-left: 1.5em;
                }
            }
        }

        p {
            margin-top: 1em;
            margin-bottom: 1em;
            line-height: 1.5em;

            strong {
                font-weight: bold;
                color: black;
            }

            em {
                font-style: italic
            }

        }

        blockquote {
            margin: 1.5em 10px;
            border-left: 2px solid $site-grey;
            padding-left: 0.75em;
        }

        ol {
            list-style-type: decimal;
            margin-left:     1.6em;
        }

        ul {
            list-style-type: circle;
            margin-left:     1.6em;
        }

        dl {
            margin-left: 1.0em;

            dt::before {
                content: "> "
            }

            dt::after {
                content: ":"
            }

            dd::before {
                content: "- "
            }

            dd {
                margin-left: 0.75em;
                margin-top: 0.1em;
                margin-bottom: 0.75em;
            }
        }

        table {

            margin: 36px auto;
            border-collapse: collapse;
            text-align: left;

            th {
                border-right: 1px solid black;
                border-bottom: 1px solid black;
                color: black;
                padding: 0.5em;
            }

            tr {
                td {
                    border-right: 1px solid black;
                    color: black;
                    padding: 0.5em;
                }

                td:first-child, th:first-child {
                    border-left: none;
                }

                td:last-child, th:last-child {
                    border-right: none;
                }
            }
        }

        .post-info {
            .post-dates {
                table {
                    tr {
                        td {
                            border: 10px solid green;
                            border-right: none;
                        }
                    }
                }
            }
        }

        sup {
            vertical-align: super;
            font-size: 0.7em;
        }

        pre {
            line-height: 1;

            code {
                font: normal 100% 'Roboto Mono', monospace;
            }
        }

        #text-footnotes {

            .footdef {
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-start;
                align-items: center;
                gap: 1em;
                max-width: 95%;

                .footnum {
                    flex: 1 0 auto;
                    align-self: start;
                    padding-top: 1em;
                }

                .footblock {
                    .footpara {
                        flex: 10 1 auto;
                        flex-flow: row wrap;
                    }
                }
            }
        }
    }
}
