generate_load_scripts: true
source https://nuget.org/api/v2

storage:none

nuget Serilog
nuget Serilog.Sinks.Console
nuget Serilog.AspNetCore
nuget Dropbox.Api
nuget FSharp.Core
nuget FSharp.Data
nuget Google.Cloud.Storage.V1
nuget Microsoft.AspNetCore.All
nuget Giraffe 5.0.0-rc-6
nuget Giraffe.ViewEngine
nuget Ply
