generate_load_scripts: true
source https://nuget.org/api/v2

storage:none

nuget Destructurama.FSharp
nuget Serilog
nuget Serilog.Sinks.Console
nuget Serilog.AspNetCore
nuget Serilog.Sinks.GoogleCloudLogging
nuget Dropbox.Api
nuget FSharp.Core
nuget FSharp.Data
nuget Google.Cloud.Storage.V1
nuget Microsoft.AspNetCore.All
nuget Giraffe
nuget Giraffe.ViewEngine
nuget Ply
nuget prometheus-net
nuget prometheus-net.AspNetCore
