source https://nuget.org/api/v2

storage:none

nuget Serilog
nuget Serilog.Sinks.Console
nuget Serilog.AspNetCore
nuget Dropbox.Api
nuget FSharp.Core
nuget FSharp.Data
nuget Microsoft.AspNetCore.All
nuget WebSharper
nuget WebSharper.FSharp
nuget WebSharper.UI
nuget WebSharper.AspNetCore
