<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="/css/screen.css"/>
        <link rel="stylesheet" type="text/css" href="/css/prism.css">
        <link href="https://fonts.googleapis.com/css?family=Nova+Flat|Roboto+Mono" rel="stylesheet">
        <title>${Title}</title>
    </head>
    <body>
        <div class="content">
            <div class="post">
                <h2>> /blog/"${PostTitle}"</h2>
                <hr/>
                <div ws-replace="Body"/>
                <hr/>
            </div>
            <div class="post-info">
                <p>Posted: ${PostDate}</p>
                <p>Tags: ${Tags}</p>
            </div>
        </div>
    </body>
    <footer>
        <a href="/">Home</a> | <a href="http://www.gastove.com">gastove.com</a> | <a href="https://gitlab.com/gastove">Gitlab</a> | <a href="https://github.com/Gastove">Github</a> | <a href="/feed/atom">Atom</a>
        <br/><br/>
        © Ross Donaldson
        <script src="/js/prism.js"></script>
    </footer>
</html>
