<!DOCTYPE html>
<html lang="en">
    <head ws-replace="Header">
    </head>
    <body>
        <div class="content">
            <div class="post">
                <h2 class="post-title">> <a href="/">$HOME</a>/blog/"${PostTitle}"</h2>
                <hr/>
                <div ws-replace="Body"/>
                <hr/>
            </div>
            <div class="post-info">
                <p>Posted: ${PostDate}</p>
                <p>Tags: ${Tags}</p>
            </div>
        </div>
    </body>
    <footer ws-replace="Footer">
    </footer>
</html>
